
.carousel-inner > .item > img { height: 650px;}

.container { background-color: rgba(245,245,250,0.94); }

.jumbotron { padding-top: 0; padding-bottom: 0;}

.carousel {margin-bottom: 10px;}
#home .carousel-caption { padding-bottom: 0; bottom: 30px; }
#home .carousel-caption-header {padding-bottom: 25px; }
#myCarousel .carousel-indicators ul, ol { margin-top: 0; margin-bottom: 0px; }


.masthead .text-muted { text-align: center; font-size: 3.5em; }

#sponsor-logo img { margin: 10px 10px; }
#sponsor-logo { padding: 20px; background-color: #fff; border-radius: 10px; }

.col-lg-4 h2 { text-align: center; }